/* css file for simplequestion */
.filter_simplequestion_controls {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: #006;
    color: #FF6;
}

.filter_simplequestion_buttoncontainer {
    display:inline-block;
}

.filter_simplequestion_controls a:link,
.filter_simplequestion_controls a:visited {
    color: #FF6;
}

.filter_simplequestion_controls a:hover {
   color: #FF6;
   text-decoration: underline;
}
.filter_simplequestion_error {
   color:#FF0000;
}
/* Hide the question info block and the breadcrumbs */
#q1 .info { display:none; }
#page-filter-simplequestion-preview .breadcrumb { display:none; }